//стили для html, body
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

html{
  font-size: rem(14px);
}

body {
  margin: 0;
  font-size: rem(14px);
  background-color: $white;
  font-family: Arial, sans-serif;
  line-height: 1.42;
}

//стили для внешнего и внутреннего контейнера
.wrapper{
  min-height: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}





//------------стили для тегов------------
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
}

*{box-sizing: border-box;}
