.sum{
  display: flex;
  justify-content: center;
}

.sum__number{
  width: 30px;
  font-size: 40px;
  color: $black;
  text-align: center;
  &--total{
    width: 67px;
    height: 50px;
  }
  &--number{
    display: block;
    width: 34px;
    height: 45px;
  }
  &--question{
    width: 67px;
    height: 50px;
    display: block;
  }
}

.input__number{
  background-color: $white;
  border: none;
    &:focus{
      outline: none!important;
    }
    &--border{
      border: 3px solid $light-grey;
      border-radius: 5px;
    }
    &--sum{
      display: none;
    }
    &--firstNum{
      display: none;
    }
    &--secondNum{
      display: none;
    }
}

input::-moz-placeholder{
  color: $black;
}

input::-ms-input-placeholder{
  color: $black;
}

input::-webkit-input-placeholder{
   color: $black;
}

//стили для ошибок
.error-value{
  color: red;  
}

.error-background{
  background-color: yellow;
}
