.sum{
  display: flex;
  justify-content: center;
}

.sum__number{
  width: 34px;
  height: 45px;
  font-size: 40px;
  color: $black;
  text-align: center;
  &--total,
  &--question{
    width: 67px;
  }
}

.sum__input{
  background-color: $white;
  border: none;
  border-radius: 5px;
    &:focus{
      outline: none!important;
    }
}

input::-moz-placeholder{
  color: $black;
}

input::-ms-input-placeholder{
  color: $black;
}

input::-webkit-input-placeholder{
   color: $black;
}

//стили для ошибок
.error-value{
  color: $error;
}

.error-background{
  border-radius: 5px;
  background-color: $orange;
}

//стили для измениения состояний input
.active{
  border: 3px solid $light-grey;
}

.hidden{
  display: none;
}
