//-шаблон для блока

mixin calc
  main.calc 
    .calc__top
      form.sum
        .sum__number.sum__number--first 
        .sum__number +
        .sum__number.sum__number--second 
        .sum__number =
        .sum__number.sum__number--question ?
        input#inputSum(class='sum__number sum__number--total sum__input hidden active' type='text' maxlength='2') 
        
    .calc__down
      .calc__stroke
        .calc__stroke-block
          form.sum
            input#inputFirst(class='sum__number sum__input hidden active' type='text' maxlength='1') 
          .calc__stroke-img.calc__stroke-img--first
        .calc__stroke-block
          form.sum
            input#inputSecond(class='sum__number sum__input hidden active' type='text' maxlength='1') 
          .calc__stroke-img.calc__stroke-img--second
      .calc__scale
        img.calc__scale-img(src="../img/sprite.png" alt="scale")
