//переменные: цвета
$white: #fff;
$grey: #eee;
$black: #000;
$light-grey: #afafaf;
$pink: #e34693;
$orange: #f7a94e;
$error: #f61747;

//block
@import 'block/adjustment.scss';
@import 'block/calc.scss';
@import 'block/form.scss';
