//переменные: цвета
$white: #fff;
$grey: #eee;
$black: #000;
$light-grey: #afafaf;
$pink: #e34693;

//mixin
@import 'mixins/mixin.scss';

//block
@import 'block/adjustment.scss';
@import 'block/calc.scss';
@import 'block/form.scss';
